<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shower Thoughts</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Shower-Thoughts</a>
            </h1>
            <nav>
                {{!-- add login/logout btns and logic --}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            A place to write niche thoughts.
        </footer>
    </div>
</body>
</html>